<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>往届毕业生档案信息查询系统</title>
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="{$Think.config.HOMETOOLS}css/bootstrap.css">
	<link rel="stylesheet" href="{$Think.config.HOMETOOLS}css/bootstrap-responsive.css">
	<link rel="stylesheet" href="{$Think.config.HOMETOOLS}css/application.css">
	<script src="{$Think.config.HOMETOOLS}js/libs/modernizr-2.5.3.min.js"></script>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div class="container">
				<div class="logo col-lg-6"><img src="{$Think.config.HOMETOOLS}img/logo/logo1.png"></div>
				<a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<i class="icon-reorder"></i>
				</a>
			</div>
			<!-- /.container -->
		</div>
		<!-- /#header -->
		<div id="content">
			<div class="container">
				<div class="row">
					<div style="text-align: center;">
						<div class="account-container login stacked">
							<form id="edit-profile" class="form-horizontal" action="{$Think.config.GOTO}Home/Index/passageStudent" method="post" enctype="multipart/form-data">
								<div class="content clearfix">
									<h1>往届毕业生档案信息查询</h1>
									<span class="tip">如有任何问题请拨打：0571-870000000</span>
									<div class="tabbable">
										<div class="tab-content">
											<div class="tab-pane active" id="tab1">
												<fieldset>

													<div class="control-group">
														<div style="padding-left: 20px;">
															<label class="control-label" for="firstname"><b>姓名</b></label>
														</div>
														<div class="controls">
															<div style="margin-right: 80px;"><input type="text" pattern="^\s*[\u4e00-\u9fa5]{1,15}\s*$" title="姓名输入有误，请重新输入。" required="required" class="input-large" id="firstname" name="name"></div>
														</div>
														<!-- /controls -->
													</div>
													<!-- /control-group -->


													<div class="control-group">
														<div style="padding-left: 20px;">
															<label class="control-label" for="firstname"><b>身份证号</b></label>
														</div>
														<div class="controls">
															<div style="margin-right: 80px;"><input type="text" pattern="^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$"
																title="身份证号输入有误，请重新输入。" required="required" autocomplete="off" class="input-large" id="firstname" name="id_number"></div>
														</div>
														<!-- /controls -->
													</div>
													<!-- /control-group -->

													<div class="control-group">
														<div style="padding-left: 20px;">
															<label class="control-label" for="firstname"><b>手机号码</b></label>
														</div>
														<div class="controls">
															<div style="margin-right: 80px;"><input type="text" pattern="^\s*(15\d{9}|13[0-9]\d{8})\s*$" title="手机号输入有误，请重新输入。" required="required" class="input-large" id="firstname" name="phone"></div>
														</div>
														<!-- /controls -->
													</div>
													<!-- /control-group -->

													<div class="control-group">
														<div style="padding-left: 20px;">
															<label class="control-label" for="firstname"><b>验证码</b></label>
														</div>
														<div class="controls">
															<input type="text" required="required" class="input-small" id="firstname" name="verify" style="margin-left:-65px;margin-right: 5px;width:110px;">
															<img width="25%" id="verify" class="left15" height="100" alt="验证码" src="{$Think.config.GOTO}Home/Index/verify" title="点击刷新"
															 onclick="change()">
														</div>
													</div>
													<!-- /control-group -->
												</fieldset>
											</div>
										</div>
									</div>

									<div class="login-actions">


										<button class="button btn btn-primary btn-large" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;</button>
									</div>

								</div>
								<!-- .actions -->


							</form>

						</div>
						<!-- /content -->

					</div>
					<!-- /account-container -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->

		</div>
		<!-- /#content -->

	</div>
	<!-- /#wrapper -->


	<footer class="navbar-fixed-bottom footer">
		<div class="container">
			<div class="row">
				<span class="text-center">版权所有：浙江科技学院艺术设计学院/服装学院 浙ICP备11051284号</span>
			</div>
		</div>
	</footer>


	<script src="{$Think.config.HOMETOOLS}js/libs/jquery-1.7.2.min.js"></script>
	<script src="{$Think.config.HOMETOOLS}js/libs/jquery-ui-1.8.21.custom.min.js"></script>
	<script src="{$Think.config.HOMETOOLS}js/libs/jquery.ui.touch-punch.min.js"></script>
	<script src="{$Think.config.HOMETOOLS}js/libs/bootstrap/bootstrap.min.js"></script>
	<script>
		function change() {
			document.getElementById("verify").src = '{$Think.config.GOTO}/Home/Index/verify'
		}
	</script>
</body>

</html>