<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-cn">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>查询结果</title>
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="{$Think.config.HOMETOOLS}css/bootstrap.css">
	<link rel="stylesheet" href="{$Think.config.HOMETOOLS}css/bootstrap-responsive.css">
	<link rel="stylesheet" href="{$Think.config.HOMETOOLS}css/application.css">

	<script src="{$Think.config.HOMETOOLS}js/libs/modernizr-2.5.3.min.js"></script>

</head>

<body>

	<div id="wrapper">

		<div id="header">

			<div class="container">

				<div class="logo"><img src="{$Think.config.HOMETOOLS}img/logo/logo1.png"></div>


				<a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<i class="icon-reorder"></i>
				</a>



			</div>
			<!-- /.container -->

		</div>
		<!-- /#header -->
		<div id="masthead">

			<div class="container">

				<div class="masthead-pad">
					<a href="http://art.zust.edu.cn" style="font-size: 14px;">学院首页</a>
					<a style="float: right;font-size: 14px;margin-left: 10px;" href="#">[注销]</a>
					<span style="float: right;font-size: 14px;">欢迎您，{$result[0]['name']}！</span>
				</div>

			</div>
			<!-- /.container -->

		</div>
		<!-- /#masthead -->
		<div class="container">
			<div class="row">
				<h2 class="text-center h2-student">查询结果</h2>
				<div class="table-responsive">
					<table class="table table-striped table-hover table-condensed table-bordered table-student" align="center">
						<tbody>
							<tr>
								<td class="table-center small">
									<span><b>姓名</b></span>
								</td>
								<td class="description">{$result[0]['name']}</td>
							</tr>
							<tr>
								<td style="vertical-align: middle;text-align:center;width: 20%">
									<span><b>学号</b></span>
								</td>
								<td class="description">{$result[0]['student_id']}</td>
							</tr>
							<tr>
								<td style="vertical-align: middle;text-align:center;width: 20%">
									<span><b>专业班级</b></span>
								</td>
								<td class="description">{$result[0]['major_class']}</td>
							</tr>
							<tr>
								<td style="vertical-align: middle;text-align:center;width: 20%">
									<span><b>身份证号</b></span>
								</td>
								<td class="description">{$result[0]['id_number']}</td>
							</tr>
							<tr>
								<td style="vertical-align: middle;text-align:center;width: 20%">
									<span><b>档案去向</b></span>
								</td>
								<td class="description">{$result[0]['direction']}</td>
							</tr>
							<if condition="$result[0]['ems_id'] neq null">
								<tr>
									<td style="vertical-align: middle;text-align:center;width: 20%">
										<span><b>快递单号(EMS)</b></span>
									</td>
									<td class="description">{$result[0]['ems_id']}</td>
								</tr>
							</if>
							<if condition="$result[0]['jiyao_id'] neq null">
								<tr>
									<td style="vertical-align: middle;text-align:center;width: 20%">
										<span><b>机要编号</b></span>
									</td>
									<td class="description">{$result[0]['jiyao_id']}</td>
								</tr>
							</if>
							<tr>
								<td style="vertical-align: middle;text-align:center;width: 20%">
									<span><b>备注</b></span>
								</td>
								<td class="description">{$result[0]['remark']}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer class="navbar-fixed-bottom footer">
		<div class="container">
			<div class="row">
				<span class="text-center">版权所有：浙江科技学院艺术设计学院/服装学院 浙ICP备11051284号</span>
			</div>
		</div>
	</footer>

	<script src="{$Think.config.HOMETOOLS}js/libs/jquery-1.7.2.min.js"></script>
	<script src="{$Think.config.HOMETOOLS}js/libs/jquery-ui-1.8.21.custom.min.js"></script>
	<script src="{$Think.config.HOMETOOLS}js/libs/jquery.ui.touch-punch.min.js"></script>
	<script src="{$Think.config.HOMETOOLS}js/libs/bootstrap/bootstrap.min.js"></script>

</body>

</html>